@use 'typo' as *;

h1, h2, h3, h4, h5, h6 { code { font-weight: 600; } }

pre, code, abbr[font=mono]::after, .mono {
  white-space: pre;
  font-family: $codefont;
  font-variant-ligatures: none;
  font-size: .92em;
}
.mono code { font-size: unset; }

code:not(pre > code), abbr[font=mono]::after {
  color: var(--colour-accent);
}

$code-padding: 1rem;
pre {
  position: relative;
  margin: 0;
  padding: $code-padding;
  overflow: auto;
  box-sizing: border-box;
  --bg: var(--bg-2); // term-inv works off --bg

  &:not(:has(> [data-name])) {
    background-color: var(--bg);
  }
  &:has(> [data-name]) {
    padding-top: calc($code-padding + 1lh);
    background: linear-gradient(
      to bottom,
      transparent 0,
      transparent 1lh, // lh is "line-height"
      var(--bg) 1lh,
      var(--bg) 100%
    );
    > [data-name]::before {
      content: attr(data-name);
      position: absolute;
      top: 0;
      inset-inline-start: 0;
      background-color: var(--bg-3);
      padding: 2px $code-padding;
      color: var(--colour-accent);
    }
  }

  &:has(> [data-lang=shellscript]) + &:has(> [data-lang=plain]) { padding-top: 0; }

  &:has(> [data-lang=shellscript]):has(+ &) > code > span::before {
    content: "> ";
    color: var(--colour-overlay0);
  }

  * {
    font-style: initial !important; // disable italics in syntax highlighting
  }

  // Below is about data-linenos, ported from https://www.getzola.org/documentation/content/syntax-highlighting/
  &[data-linenos] { padding: $code-padding 0; }
  table {
    width: 100%;
    border-collapse: collapse;
    td {
      padding: 0;
      &:nth-of-type(1) {
        text-align: center;
        vertical-align: top;
        user-select: none;
      }
    }
  }
  mark {
    display: block;
    background-color: rgba(254, 252, 232, 0.9);
  }
}
