h1 code {
  font-weight: 700;
}

pre, code, abbr[font=mono]::after {
  font-family: "Fira Code", monospace;
  font-size: .92em;
}

code:not(pre > code), abbr[font=mono]::after {
  white-space: nowrap;
  color: var(--colour-accent);
}

pre {
  margin: 0;
  padding: 1rem;
  overflow: auto;
  &.z-code {
    background-color: var(--colour-mantle);
  }

  &.language-sh + pre.language-txt { padding-top: 0; }

  * {
    font-style: initial !important; // disable italics in syntax highlighting
  }

  // Below is about data-linenos, ported from https://www.getzola.org/documentation/content/syntax-highlighting/
  &[data-linenos] { padding: 1rem 0; }
  table {
    width: 100%;
    border-collapse: collapse;
    td {
      padding: 0;
      &:nth-of-type(1) {
        text-align: center;
        vertical-align: top;
        user-select: none;
      }
    }
  }
  mark {
    display: block;
    background-color: rgba(254, 252, 232, 0.9);
  }
}
