$hedpadx: 2rem;
$btnpadx: .75rem;

// TODO: make responsive when there'll be more links
header {
  display: flex;
  width: 100%;
  padding: 0 calc(min(5vw, $hedpadx) - $btnpadx);
  box-sizing: border-box;
  a, strong {
    color: inherit;
    text-decoration: none;
    padding: 1rem $btnpadx;
  }
}

.accent-bar {
  width: 100%;
  height: 2px;
  background: linear-gradient(to right, var(--colour-accent), var(--colour-maroon), var(--colour-mauve), var(--colour-lavender));
}
