@use 'mxin' as *;

[class^=grid-] {
  display: grid;
  grid-gap: 1em;
  width: min(100%, var(--column-width)) !important;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr;
}
@for $r from 1 through 3 {
  @for $c from 1 through 3 {
    .grid-#{$r}-#{$c} {
      @include md {
        grid-template-rows: repeat(#{$r}, minmax(0, 1fr));
        grid-template-columns: repeat(#{$c}, minmax(0, 1fr));
      }
    }
  }
}
