@use 'vars' as *;

@for $r from 1 through 3 {
  @for $c from 1 through 3 {
    .grid-#{$r}-#{$c} {
      display: grid;
      grid-gap: 1em;
      grid-template-rows: repeat(#{$r}, 1fr);
      grid-template-columns: repeat(#{$c}, 1fr);
      width: calc($w + 2rem) !important;
    }
  }
}
