html, html > body {
  min-height: 100vh;
  height: unset;
  overflow-x: hidden;
}

html {
  background-color: var(--colour-base);
  // scrollbar-gutter: stable both-edges;
}

body {
  display: flex;
  margin: 0;
  flex-direction: column;
  align-items: center;
}

main {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  box-sizing: border-box;
}

footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 2em;
  gap: 1em;
  font-size: 0.875rem;
  color: var(--colour-subtext1);
}

@mixin centred() {
  width: min(90vw, 768px);
  margin-left: auto;
  margin-right: auto;
}

main > :not(article), main > article > :not(.hi) {
  @include centred();
}

.hi {
  width: 100vw;
  background-color: var(--colour-mantle);
  > * {
    @include centred();
  }
}
