@forward 'vars';
@use 'vars' as *;

html, html > body {
  min-height: 100vh;
  height: unset;
  overflow-x: hidden;
}

html {
  background-color: var(--colour-base);
}

body {
  display: flex;
  margin: 0;
  flex-direction: column;
  align-items: center;
}

main {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  box-sizing: border-box;
  &:not(:has(> article > .footnotes:last-child)) {
    padding-block-end: 3rem;
  }
  > h1:first-child + * {
    margin-top: 0;
  }
}

footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 2em;
  gap: 1em;
  font-size: 0.875rem;
  color: var(--colour-subtext1);
}

ul.infobar {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
  margin-block: 0;
  color: var(--colour-subtext0);
  li:not(:first-child)::before {
    content: "â¯";
    margin: 0 .5ch;
    color: var(--colour-surface1);
  }
}

@mixin centred() {
  width: $w;
  margin-left: auto;
  margin-right: auto;
}

main > :not(article), main > article > :not(%hilo) {
  @include centred();
}

%hilo {
  @at-root main & {
    padding: 1.75rem 0;
    margin: 1.75rem 0;
    > :first-child { margin-top: 0; }
    > :last-child { margin-bottom: 0; }
  }
  width: 100vw;
  > * { @include centred(); }
}

.hi {
  @extend %hilo;
  background-color: var(--colour-mantle);
}
.lo, .footnotes {
  @extend %hilo;
  background-color: var(--colour-lo-bg);
}
