:root {
  --column-width: min(90vw, 768px);
}

html, html > body {
  min-height: 100vh;
  height: unset;
  overflow-x: hidden;
}

html {
  --bg: var(--colour-base);
  background-color: var(--bg);
}

body {
  display: flex;
  margin: 0;
  flex-direction: column;
  align-items: center;
}

main {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  box-sizing: border-box;
  &:not(:has(> article > .footnotes:last-child)) {
    padding-block-end: 3rem;
  }
  > h1:first-child + * {
    margin-top: 0 !important;
  }
}

article {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 2em;
  gap: 1em;
  font-size: 0.875rem;
  color: var(--colour-subtext1);
}

@mixin centred() {
  width: var(--column-width);
  margin-left: auto;
  margin-right: auto;
}

main > :not(article), main > article > :not(%hilo) {
  @include centred();
}

%hilo {
  width: 100vw;
  background-color: var(--bg);
  @at-root main &:not(details) {
    padding: 1.75rem 0;
    margin: 1.75rem 0;
    > :first-child { margin-top: 0; }
    > :last-child { margin-bottom: 0; }
  }
  > * { @include centred(); }
}

.hi {
  --bg: var(--colour-mantle);
  @extend %hilo;
}
.lo, .footnotes {
  --bg: var(--colour-lo-bg);
  @extend %hilo;
}
