@use 'mxin' as *;

// Won't work on Firefox, because it respects the spec, which is... lacklustrous.
// See https://developer.mozilla.org/en-US/docs/Web/CSS/CSS_scrollbars_styling
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}
::-webkit-scrollbar-track {
  background: transparent;
}
::-webkit-scrollbar-thumb {
  border-radius: 0px;
  background-color: var(--colour-overlay0);
  &:hover { background-color: var(--colour-overlay2); }
}

.cited-tools {
  $tool-bg: var(--colour-surface1);
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  .tool {
    border: 1px solid $tool-bg;
    border-collapse: collapse;
    tr:nth-child(1) { background-color: $tool-bg; }
    td, th {
      &:nth-child(1) { padding-left: 1em; }
      &:nth-child(2) { padding: 0 1em; text-align: end; }
      &:only-child { padding: 0 1em; }
    }
    th { text-align: center; }
    a { text-decoration: none; }
  }
}

// TODO: consider moving to tags-specific stylesheet
.tags-list {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  padding: 0;
  list-style: none;
}
a.tag, a.tag:visited {
  display: inline-block;
  padding: 0.5rem 1rem;
  border: 1px solid var(--colour-subtext1);
  color: var(--colour-accent);
  text-decoration: none;
  &.tag-low { border-color: var(--colour-overlay1); }
  &.tag-high::before {
    @include icon(ruby, (top: 2px, left: -2px));
  }
  &:hover {
    color:             var(--colour-accent);
    border-color:      var(--colour-accent);
    background-color:  var(--colour-lo-bg);
    .tag-name { color: var(--colour-accent); }
  }
  h2.tag-name {
    display: inline;
    padding: 0;
    font-size: 1.1em;
    color: var(--colour-text);
  }
}

.alternating-list-marker {
  $code-padding: 1rem; // Should match that in _code.scss
  display: none;
  + ul {
    padding: 0;
    list-style: none;
    li {
      &:nth-child(odd) {
        margin-inline: -$code-padding;
        padding: 0.1px $code-padding;
        background-color: var(--colour-mantle);
      }
      p:not(:first-child) {
        padding-inline: $code-padding;
        color: var(--colour-subtext0);
        @include md {
          padding-inline: $code-padding * 2;
        }
      }
    }
  }
}

