// Won't work on Firefox, because it respects the spec, which is... lacklustrous.
// See https://developer.mozilla.org/en-US/docs/Web/CSS/CSS_scrollbars_styling
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}
::-webkit-scrollbar-track {
  background: transparent;
}
::-webkit-scrollbar-thumb {
  border-radius: 0px;
  background-color: var(--colour-overlay0);
  &:hover { background-color: var(--colour-overlay2); }
}

.cited-tools {
  $tool-bg: var(--colour-surface1);
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  .tool {
    font-family: monospace;
    border: 1px solid $tool-bg;
    border-collapse: collapse;
    tr:nth-child(1) { background-color: $tool-bg; }
    td, th {
      &:nth-child(1) { padding-left: 1em; }
      &:nth-child(2) { padding: 0 1em; text-align: end; }
      &:only-child { padding: 0 1em; }
    }
    th { text-align: center; }
    a { text-decoration: none; }
  }
}

.tags-list {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  padding: 0;
  list-style: none;
}
a.tag, a.tag:visited {
  border: 1px solid;
  padding: 0.5rem 1rem;
  text-decoration: none;
  display: inline-block;
  color: var(--colour);
  border-color: var(--colour);
  &.tag-hi    { --colour: var(--colour-text);     --icon: url('../octicons/ruby-16.svg'); }
  &.tag-me, & { --colour: var(--colour-subtext0); --icon: url('../octicons/star-16.svg');}
  &.tag-lo    { --colour: var(--colour-overlay1); --icon: url('../octicons/sparkle-16.svg');}
  &:hover {
    border-color: var(--colour-accent);
    background-color: var(--colour-lo-bg);
    color: var(--colour-accent);
  }
  &::before {
    content: '';
    display: inline-block;
    position: relative;
    top: 2px;
    left: -4px;
    width: 16px;
    height: 16px;
    background-color: currentColor;
    mask: var(--icon);
  }
}
