@mixin icon($name, $opts: (top: 2px, left: -2px, collection: octicons)) {
  content: '';
  display: inline-block;
  position: relative;
  top: map-get($opts, top);
  left: map-get($opts, left);
  width: 16px;
  height: 16px;
  background-color: currentColor;
  @include iconmask($name, map-get($opts, collection));
  mask-position: center, center;
  mask-repeat: no-repeat;
}

@mixin iconmask($name, $collection: octicons) {
  $coll: if($collection == null, octicons, $collection);
  $size: if($collection == tiny, '', -16);
  mask: url('./#{$coll}/#{$name}#{$size}.svg');
}

@mixin minw($w) { @media (min-width: $w) { @content; } }
// GitHub Primer's breakpoint values:
// https://primer.style/product/css-utilities/grid/#breakpoints
@mixin sm { @include minw(544px)  { @content; } }
@mixin md { @include minw(768px)  { @content; } }
@mixin lg { @include minw(1004px) { @content; } }
@mixin xl { @include minw(1280px) { @content; } }

[min-sm] { display: none; @include sm { display: initial; } }
[min-md] { display: none; @include sm { display: initial; } }
[min-lg] { display: none; @include sm { display: initial; } }
[min-xl] { display: none; @include sm { display: initial; } }

[max-sm] { display: initial; @include sm { display: none; } }
[max-md] { display: initial; @include sm { display: none; } }
[max-lg] { display: initial; @include sm { display: none; } }
[max-xl] { display: initial; @include sm { display: none; } }
