@mixin icon($name, $pos: (top: 2px, left: -2px)) {
  content: '';
  display: inline-block;
  position: relative;
  top: map-get($pos, top);
  left: map-get($pos, left);
  width: 16px;
  height: 16px;
  background-color: currentColor;
  @include iconmask($name);
  mask-position: center, center;
  mask-repeat: no-repeat;
}

@mixin iconmask($name) {
  mask: url('./octicons/#{$name}-16.svg');
}

// GitHub Primer's breakpoint values:
// https://primer.style/product/css-utilities/grid/#breakpoints
@mixin sm { @media (min-width: 544px)  { @content; } }
@mixin md { @media (min-width: 768px)  { @content; } }
@mixin lg { @media (min-width: 1004px) { @content; } }
@mixin xl { @media (min-width: 1280px) { @content; } }

[min-sm] { display: none; @include sm { display: initial; } }
[min-md] { display: none; @include sm { display: initial; } }
[min-lg] { display: none; @include sm { display: initial; } }
[min-xl] { display: none; @include sm { display: initial; } }

[max-sm] { display: initial; @include sm { display: none; } }
[max-md] { display: initial; @include sm { display: none; } }
[max-lg] { display: initial; @include sm { display: none; } }
[max-xl] { display: initial; @include sm { display: none; } }
