@use 'sass:list' as *;
@use 'catppuccin';

$bgs:
  var(--colour-surface0),
  var(--colour-base),
  var(--colour-mantle),
  var(--colour-crust), // geologically, it should go core, mantle, crust; oops
  var(--colour-core);

:root {
  --colour-accent: var(--colour-maroon);
  --bg-1: #{nth($bgs, 2)};
  --bg-2: #{nth($bgs, 3)};
  --bg-3: #{nth($bgs, 4)};
  --bg:   var(--bg-1);

  @each $name, $value in map-get(catppuccin.$palette, "latte") { --colour-#{$name}: #{$value}; }
  --colour-core: color-mix(in srgb, var(--colour-crust) 95%, black);
  --focus: #{nth($bgs, 4)};

  @media (prefers-color-scheme: dark) {
    @each $name, $value in map-get(catppuccin.$palette, "frappe") { --colour-#{$name}: #{$value}; }
    --colour-core: color-mix(in srgb, var(--colour-crust) 75%, black);
    --focus: #{nth($bgs, 1)};
  }

  .term-fg1  { font-weight: bold; }
  .term-fg31 { --fg: var(--colour-red); }
  .term-fg32 { --fg: var(--colour-green); }
  .term-fg33 { --fg: var(--colour-yellow); }
  .term-fg34 { --fg: var(--colour-blue); }
  .term-fg35 { --fg: var(--colour-pink); }
  .term-fg36 { --fg: var(--colour-teal); }
  .term-fg37 { --fg: var(--colour-subtext1); }
  .term-fg38 { --fg: var(--colour-subtext0); }
  .term-inv  {
    font-weight: bold;
    // [o]verride
    --bgo: var(--fg, var(--colour-text));
    --fgo: var(--bg, var(--colour-mantle));
  }
  [class^=term-] { color: var(--fgo, var(--fg)); background-color: var(--bgo, var(--bg)); }
}
