@use 'thme' as theme;

@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&family=Hedvig+Letters+Serif:opsz@12..24&display=swap');

body {
  font-family: "Hedvig Letters Serif", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  letter-spacing: 0.01em;
  font-style: normal;
  color: #333;
}

sup.footnote-reference {
  font-size: 0.8em;
  vertical-align: super;
  font-family: monospace;
  color: theme.$anchor;
  > a {
    text-decoration: none;
    &::before { content: "["; }
    &::after  { content: "]"; }
  }
}

a {
  &, &:visited {
    color: theme.$anchor;
  }

  &[href^=http]:not([href^='https://ccjmne.sh/'],[href^='https://ccjmne.github.io/'],:has(img)) {
    &::after {
      content: " ↗";
      font-size: 0.66em;
      font-family: "Hedvig Letters Serif";
    }
  }
}
