@use 'thme' as theme;

body {
  font-family: "Hedvig Letters Serif", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  letter-spacing: 0.01em;
  font-style: normal;
}

a {
  &, &:visited {
    color: theme.$anchor;
  }

  &[href^=http]:not([href^='https://ccjmne.sh/'],[href^='https://ccjmne.github.io/'],:has(img)) {
    &::after {
      content: " ↗";
      font-size: 0.66em;
      font-family: "Hedvig Letters Serif";
    }
  }
}
