@use 'thme' as theme;

@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&family=Hedvig+Letters+Serif:opsz@12..24&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Symbols:wght@100..900&display=swap');

body {
  font-family: "Hedvig Letters Serif", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  letter-spacing: 0.01em;
  font-style: normal;
  color: #333;
}

sup.footnote-reference {
  font-size: 0.8em;
  vertical-align: super;
  font-family: monospace;
  color: theme.$anchor;
  > a {
    text-decoration: none;
    &::before { content: "["; }
    &::after  { content: "]"; }
  }
}

a {
  &, &:visited {
    color: theme.$anchor;
  }

  &[href^=http]:not([href^='https://ccjmne.sh/'],[href^='https://ccjmne.github.io/'],[href^='http://127.0.0.1'],:has(img)) {
    &::after {
      content: " ↗";
      font-size: 0.66em;
      font-family: "Hedvig Letters Serif";
    }
  }
}

.anchor-link {
  margin-left: -2.6ch;
  margin-right: 1ch;
  font-family: "Noto Sans Symbols";
  font-weight: normal;
  text-decoration: none;
}

// From https://www.getzola.org/documentation/content/syntax-highlighting/
pre {
  padding: 1rem;
  overflow: auto;
}
pre[data-linenos] {
  padding: 1rem 0;
}
pre table td {
  padding: 0;
}
pre table td:nth-of-type(1) {
  text-align: center;
  vertical-align: top;
  user-select: none;
}
pre mark {
  display: block;
  background-color: rgba(254, 252, 232, 0.9);
}
pre table {
  width: 100%;
  border-collapse: collapse;
}

code:not(pre > code) {
  white-space: nowrap;
  border: 1px solid #c8c8c8;
  background-color: #e8e8e8;
  padding: 0.2em 0.4em;
}
