@forward 'view';
@forward 'thme';
@forward 'typo';
@forward 'main';
@forward 'head';
@forward 'code';
@forward 'misc';
@forward 'hlpr';
@forward 'ftnt';

@forward 'partials/article-hero';
@forward 'partials/details';
@forward 'partials/infobar';
@forward 'partials/ls';
@forward 'shortcodes/note';
