@use 'typo';
@use 'main';
@use 'code';
@use 'misc';
@use 'hlpr';

@use 'shortcodes/cmd';
@use 'shortcodes/note';

section.footnotes {
  position: relative;
  margin-top: 2em;
  &::before {
    content: "";
    position: absolute;
    top: -1em;
    left: 0;
    right: 0;
    border-top: 1px solid #000;
  }
  &::after {
    content: "footnotes";
    position: absolute;
    top: -1em;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #f0f0f0;
    padding: 0 0.5em;
  }
}
