// Inspired by https://manuelmoreale.com
time.month-switch {
  display: flex;
  justify-content: space-between;
  margin-top: 2rem;
  margin-bottom: .5rem;
  &:first-of-type { margin-top: 0rem; }
  h2 { margin: 0; }
}

a.entry {
  display: flex;
  text-wrap: nowrap;
  gap: 1rem;
  align-items: baseline;
  font-size: 1.2em;
  color: inherit;
  text-decoration: none;
  h3 { margin: 0; }
  time { font-size: 0.8em; }
  &:hover { color: var(--colour-accent); }
  .dots {
    color: var(--colour-surface2);
    letter-spacing: 0.1em;
    overflow: hidden;
    &::before {
      content: "........................................................................................................................";
      flex-shrink: 1;
    }
  }
}

