// Inspired by https://manuelmoreale.com
time.month-switch {
  display: flex;
  justify-content: space-between;
  margin-top: 1.5rem;
  margin-bottom: .25rem;
  &:first-of-type { margin-top: 0rem; }
  h3 { margin: 0; }
}

main > :not(article), main > article > :not(%hilo) {
  width: min(90vw, 480px);
}

a.entry {
  display: flex;
  text-wrap: nowrap;
  gap: .5rem;
  align-items: baseline;
  color: inherit;
  text-decoration: none;
  padding: .2rem 0;
  h3 { margin: 0; }
  &:hover { color: var(--colour-accent); }
  :first-child {
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .dots {
    min-width: 1rem;
    flex-shrink: 9999;
    color: var(--colour-surface2);
    letter-spacing: 0.1em;
    overflow: hidden;
    text-overflow: clip;
    &::before { content: "................................................................................"; }
  }
}
