<link rel="preload" href="{{ get_url(path="/noto-1.woff2") }}" as="font" type="font/woff2" crossorigin>
<link rel="preload" href="{{ get_url(path="/ouft-1.woff2") }}" as="font" type="font/woff2" crossorigin>
<link rel="preload" href="{{ get_url(path="/ouft-2.woff2") }}" as="font" type="font/woff2" crossorigin>
<link rel="preload" href="{{ get_url(path="/work-1.woff2") }}" as="font" type="font/woff2" crossorigin>
<link rel="preload" href="{{ get_url(path="/work-2.woff2") }}" as="font" type="font/woff2" crossorigin>
<link rel="preload" href="{{ get_url(path="/fira-1.woff2") }}" as="font" type="font/woff2" crossorigin>
<style type="text/css">  @font-face { font-family: 'Noto Sans Symbols'; font-style: normal; font-weight: 400; src: url('{{ get_url(path="/noto-1.woff2") }}') format('woff2'); }
  @font-face { font-family: 'Outfit'; font-style: normal; font-weight: 400; src: url('{{ get_url(path="/ouft-1.woff2") }}') format('woff2'); }
  @font-face { font-family: 'Outfit'; font-style: normal; font-weight: 500; src: url('{{ get_url(path="/ouft-2.woff2") }}') format('woff2'); }
  @font-face { font-family: 'Work Sans'; font-style: italic; font-weight: 400; src: url('{{ get_url(path="/work-1.woff2") }}') format('woff2'); }
  @font-face { font-family: 'Work Sans'; font-style: normal; font-weight: 400; src: url('{{ get_url(path="/work-2.woff2") }}') format('woff2'); }
  @font-face { font-family: 'Fira Code'; font-style: normal; font-weight: 400; src: url('{{ get_url(path="/fira-1.woff2") }}') format('woff2'); }
</style>