{%- import "macros/hlpr.html" as hlpr -%}

{%- block links -%}
<link rel="stylesheet" href="{{ get_url(path="/ls.css") }}">
{%- endblock links -%}

{%- block content -%}

<!-- If you are using pagination, section.pages will be empty.
     You need to use the paginator object -->
{%- for page in pages -%}
<div class="ls-i">
  {%- if section.extra.series -%}
  <span class="i">{{- page.slug | trim_start_matches(pat="page-") | truncate(length=2, end="") -}}.</span>
  {%- endif -%}
  <article>
    <h2><a href="{{ page.permalink | safe }}" class="link-title" {{ hlpr::vtn(name=page.slug) -}}>{{ page.title | markdown(inline=true) | safe }}</a></h2>
    {%- include "partials/infobar.html" -%}
    {%- if page.summary -%}
    <div class="summary">{{- page.summary | safe -}}</div>
    <a style="align-self: self-end;" href="{{ page.permalink }}#continue-reading">Continue reading →</a>
    {%- elif page.description -%}
    <div class="summary">{{- page.description | markdown | safe -}}</div>
    {%- endif -%}
  </article>
</div>
{%- endfor -%}

{%- endblock content -%}
