{%- import "macros/pads.html" as pads -%}

{%- block links -%}
<link rel="stylesheet" href="/ls.css">
{%- endblock links -%}

{%- block content -%}

<!-- If you are using pagination, section.pages will be empty.
     You need to use the paginator object -->
{%- for page in pages -%}
<div class="ls-i">
  {%- if section.extra.series -%}
  <span class="i">{{- pads::zpad(s=page.extra.idx, w=2) -}}.</span>
  {%- endif -%}
  <article>
    <h2><a href="{{ page.permalink | safe }}">{{ page.title | markdown(inline=true) | safe }}</a></h2>
    <ul class="infobar">
      {%- if page.date -%}
      <li><time>{{- page.date | date(format="%B %d, %Y") -}}</time></li>
      {%- endif -%}
      <li>{{- page.reading_time -}}-minute read</li>
      {% set parent = get_section(path=page.ancestors | last) %}
      {%- if not section.extra.series and parent.extra.series -%}
        Part&nbsp;{{ page.extra.idx }}&nbsp;of&nbsp;<a href="{{ parent.permalink }}">{{ parent.title | markdown(inline=true) | safe }}</a>
      {%- endif -%}
    </ul>
    {%- if page.summary -%}
    <div class="summary">{{- page.summary | safe -}}</div>
    <a style="align-self: self-end;" href="{{ page.permalink }}#continue-reading">Continue reading →</a>
    {%- endif -%}
  </article>
</div>
{%- endfor -%}

{%- endblock content -%}
