@use '../shared' with (
  $w: min(90vw, 480px)
);

// Inspired by https://manuelmoreale.com
time.month-switch {
  display: flex;
  justify-content: space-between;
  margin-top: 1.5rem;
  margin-bottom: .25rem;
  &:first-of-type { margin-top: 0rem; }
  h3 { margin: 0; }
}

a.entry {
  display: flex;
  text-wrap: nowrap;
  gap: .5rem;
  align-items: baseline;
  color: inherit;
  text-decoration: none;
  padding: .2rem 0;
  h3 { margin: 0; }
  &:hover { color: var(--colour-accent); }
  @each $type, $icon in (flight-rules: code, ramblings: book) {
    h1.#{$type} ~ &:not(.#{$type}):not(:hover) { &, :not(.dots) { color: var(--colour-overlay1); } }
  }
  :first-child {
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .dots {
    min-width: 1rem;
    flex-shrink: 9999;
    color: var(--colour-surface2);
    letter-spacing: 0.1em;
    overflow: hidden;
    text-overflow: clip;
    &::before { content: "................................................................................"; }
  }
}
