@use '../mxin' as *;

.paragraph-separator {
  + p { text-indent: 2em; }
  &:is(hr) { display: none; }
}

.alternating-list-marker {
  $code-padding: 1rem; // Should match that in _code.scss
  display: none;
  + ul {
    padding: 0;
    list-style: none;
    li {
      &:nth-child(odd) {
        margin-inline: -$code-padding;
        padding: 0.1px $code-padding;
        background-color: var(--colour-mantle);
      }
      p:not(:first-child) {
        padding-inline: $code-padding;
        color: var(--colour-subtext0);
        @include md {
          padding-inline: $code-padding * 2;
        }
      }
    }
  }
}
