$bg: var(--colour-surface1);

table.shrt-cmd {
  font-family: monospace;
  border: 1px solid $bg;
  border-collapse: collapse;
  tr:nth-child(1) { background-color: $bg; }
  td, th {
    &:nth-child(1) { padding-left: 1em; }
    &:nth-child(2) { padding: 0 1em; text-align: end; }
    &:only-child { padding: 0 1em; }
  }
  th { text-align: center; }
  a { text-decoration: none; }
}
