.note {
  background: var(--colour-crust);
  @at-root .hi & { background: var(--colour-core); }
  @at-root .lo & { background: var(--colour-crust); }
  color: var(--colour-subtext0);
  padding: 0 1rem;
  font-size: .95em;
}
