@use '../mxin' as *;

article.hero {
  display: flex;
  flex-direction: column;
  gap: .5rem;

  .ls-hero-counter::before {
    @at-root :root { counter-reset: ls-hero-counter; }
    counter-increment: ls-hero-counter;
    content: counter(ls-hero-counter, decimal-leading-zero) '.';
  }

  h2 {
    font-size: 1.25rem;
    margin: 0;
  }

  a[href$="#continue-reading"] {
    text-align: end;
  }

  .summary {
    > :first-child { margin-top: 0; }
    > :last-child { margin-bottom: 0; }
  }

  :first-child:has(+ h2) {
    margin-block: -.25rem;
    color: var(--colour-overlay2);
  }

  .most-recent::before {
    @include icon(flame, (top: 2px));
    margin-right: 0.5rem;
  }
}
