details:not(.dropdown) {
  padding: 0;
  margin: 1rem 0 0;
  & + & { margin-top: 0; }
  summary {
    padding: 1rem 0;
    font-family: Outfit, sans-serif;
    user-select: none;
    cursor: pointer;
    &:hover { color: var(--colour-accent); }
    + *            { margin-top: 0; }
    ~ *:last-child { margin-bottom: 1.5rem; }
  }
}

details.dropdown {
  position: relative;
  white-space: nowrap;
  &[open] { background-color: var(--colour-mantle); }
  summary {
    padding: 1rem .75rem;
    cursor: pointer;
    &:hover { color: var(--colour-accent); }
  }
  summary::marker { content: ''; }
  nav {
    display: flex;
    flex-direction: column;
    position: absolute;
    background-color: var(--colour-mantle);
  }
}
