ul.infobar {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
  margin-block: 0;
  color: var(--colour-overlay2);
  li:not(:last-child)::after {
    content: "⯁";
    margin: 0 .5ch;
    color: var(--colour-surface1);
  }
  .muted { color: var(--colour-overlay0); }
  .current { color: var(--colour-text); }
  &.oneline {
    position: relative;
    overflow: hidden;
    flex-wrap: nowrap;
    white-space: nowrap;
    &::after {
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      width: 3ch;
      pointer-events: none;
      background: linear-gradient(to right, transparent, var(--bg));
    }
  }
}
