@use '../mxin' as *;

.tags-list {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  padding: 0;
  list-style: none;
}
a.tag, a.tag:visited {
  display: inline-block;
  padding: 0.5rem 1rem;
  border: 1px solid var(--colour-subtext1);
  color: var(--colour-accent);
  text-decoration: none;
  &.tag-low {
    border-color: var(--colour-overlay1);
    color: var(--colour-text);
  }
  &.tag-high::before {
    @include icon(ruby, (top: 2px, left: -2px));
  }
  &:hover {
    color:             var(--colour-accent);
    border-color:      var(--colour-accent);
    background-color:  var(--focus);
    .tag-name { color: var(--colour-accent); }
  }
  h2.tag-name {
    display: inline;
    padding: 0;
    font-size: 1.1em;
    color: var(--colour-text);
  }
}
