@use '../shared';

.ls-i {
  display: flex;
  gap: 1rem;
}

.i {
  width: 2.5ch;
  font-family: Outfit, sans-serif;
  font-size: 2.25rem;
  font-weight: bold;
  color: var(--colour-surface2);
}

article {
  display: flex;
  flex-direction: column;
  gap: .5rem;

  h2 {
    font-size: 1.25rem;
    margin: 0;
  }

  .summary {
    > :first-child { margin-top: 0; }
    > :last-child { margin-bottom: 0; }
  }
}
