{%- import "macros/hlpr.html" as hlpr -%}
{%- import "macros/tmpl.html" as tmpl -%}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>~ccjmne</title>
    {%- include "partials/fonts.html" -%}
    <link rel="stylesheet" href="{{- get_url(path="/base.css") -}}">
    <link rel="stylesheet" href="{{- get_url(path="/light.css") -}}">
    <link rel="stylesheet" href="{{- get_url(path="/dark.css") -}}" media="(prefers-color-scheme: dark)">
    {# <link rel="expect" blocking="render" href="#footer"> #}
    <link rel="alternate" type="application/atom+xml" title="rss" href="{{ get_url(path="/atom.xml", trailing_slash=false) }}">
    <script type="speculationrules">{ "prerender": [{ "where": { "href_matches": "/*" }, "eagerness": "eager" }] }</script>
    <style type="text/css">
      :root {
        {%- block cssvars -%}
        {%- endblock cssvars -%}
      }
    </style>
  </head>
  <body>
    <header {{ hlpr::vtn(name="header", static=true) -}}>
      <a href="{{ get_url(path="/") }}">             {%- if current_path == "/" -%}                             <strong>Home</strong>          {%- else -%} Home          {%- endif -%} </a>
      <details class="dropdown" max-sm>
        <summary>{%- if current_path != "/" -%} <strong>Articles</strong> {%- else -%} Articles {%- endif -%}</summary>
        <nav>
          <a href="{{ get_url(path="/flight-manual") }}">{%- if current_path is starting_with("/flight-manual") -%} <strong>Flight manual</strong> {%- else -%} Flight manual {%- endif -%} </a>
          <a href="{{ get_url(path="/tags") }}">         {%- if current_path is starting_with("/tags") -%}          <strong>By tags</strong>       {%- else -%} By tags       {%- endif -%} </a>
          <a href="{{ get_url(path="/ramblings") }}">    {%- if current_path is starting_with("/ramblings") -%}     <strong>Ramblings</strong>     {%- else -%} Ramblings     {%- endif -%} </a>
        </nav>
      </details>
      <a href="{{ get_url(path="/flight-manual") }}" min-sm>{%- if current_path is starting_with("/flight-manual") -%} <strong>Flight manual</strong> {%- else -%} Flight manual {%- endif -%} </a>
      <a href="{{ get_url(path="/tags") }}"          min-sm>{%- if current_path is starting_with("/tags") -%}          <strong>By tags</strong>       {%- else -%} By tags       {%- endif -%} </a>
      <a href="{{ get_url(path="/ramblings") }}"     min-sm>{%- if current_path is starting_with("/ramblings") -%}     <strong>Ramblings</strong>     {%- else -%} Ramblings     {%- endif -%} </a>
      {# <a href="{{ get_url(path="/about") }}"         min-sm>{%- if current_path is starting_with("/about") -%}         <strong>Meta</strong>          {%- else -%} Meta          {%- endif -%} </a> #}
      <span style="flex-grow: 1"></span>
      <a href="{{ get_url(path="/atom.xml", trailing_slash=false) }}">RSS</a>
    </header>
    <div class="accent-bar" {{ hlpr::vtn(name="accent-bar", static=true) -}}></div>
    <main>
      {%- block content -%}
      {%- endblock content -%}
    </main>
    <div class="hi" {{ hlpr::vtn(name="footer", static=true) -}}>
      <footer id="footer">
        &copy; 2025
        <a href="https://github.com/ccjmne">Éric NICOLAS (ccjmne)</a>
        <span>&lt;<a href="mailto:ccjmne@gmail.com">ccjmne@gmail.com</a>&gt;</span>
        <a href="https://creativecommons.org/licenses/by-sa/4.0/">CC-BY-SA</a>
      </footer>
    </div>
  </body>
</html>
