{%- import "macros/hlpr.html" as hlpr -%}
{%- import "macros/tmpl.html" as tmpl -%}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{- get_url(path="/base.css", cachebust=true) -}}">
    <title>~ccjmne</title>
    {%- include "partials/fonts.html" -%}
    <link rel="stylesheet" href="{{- get_url(path="/giallo-light.css", cachebust=true) -}}" media="(prefers-color-scheme: light), (prefers-color-scheme: no-preference)">
    <link rel="stylesheet" href="{{- get_url(path="/giallo-dark.css",  cachebust=true) -}}" media="(prefers-color-scheme: dark)">
    {# <link rel="expect" blocking="render" href="#footer"> #}
    <link rel="alternate" type="application/atom+xml" title="rss" href="{{ get_url(path="/atom.xml", trailing_slash=false) }}">
    <script type="speculationrules">{ "prerender": [{ "where": { "href_matches": "/*" }, "eagerness": "eager" }] }</script>
    <style type="text/css">
      :root {
        {%- block cssvars -%}
        {%- endblock cssvars -%}
      }
    </style>
  </head>
  <body>
    <header {{ hlpr::vtn(name="header", static=true) -}} data-path="{{ current_path | default(value="/") }}">
      <a href="{{ get_url(path="/") }}" data-target="home">Home</a>
      <details class="dropdown" max-md>
        <summary data-target="articles">Articles</summary>
        <nav>
          <a href="{{ get_url(path="/flight-manual", trailing_slash=true) }}"       >Flight rules</a>
          <a href="{{ get_url(path="/ramblings",     trailing_slash=true) }}"       >Ramblings</a>
          <a href="{{ get_url(path="/flashcards",    trailing_slash=true) }}"       >Flashcards</a>
          <a href="{{ get_url(path="/tags",          trailing_slash=true) }}" max-sm>Sections</a>
        </nav>
      </details>
      <a href="{{ get_url(path="/flight-manual", trailing_slash=true) }}" min-md>Flight rules</a>
      <a href="{{ get_url(path="/ramblings",     trailing_slash=true) }}" min-md>Ramblings</a>
      <a href="{{ get_url(path="/flashcards",    trailing_slash=true) }}" min-md>Flashcards</a>
      <a href="{{ get_url(path="/tags",          trailing_slash=true) }}" min-sm>Sections</a>
      <a href="{{ get_url(path="/colophon",      trailing_slash=true) }}"       >Colophon</a>
      <span style="flex-grow: 1"></span>
      <a href="{{ get_url(path="/atom.xml", trailing_slash=false) }}">RSS</a>
    </header>
    <div class="accent-bar" {{ hlpr::vtn(name="accent-bar", static=true) -}}></div>
    <main>
      {%- block content -%}
      {%- endblock content -%}
    </main>
    <div class="hi" {{ hlpr::vtn(name="footer", static=true) -}}>
      <footer id="footer">
        &copy; 2025–{{ now() | date(format="%Y") }}
        <a rel="external" href="https://github.com/ccjmne">Éric NICOLAS (ccjmne)</a>
        <a rel="external" href="mailto:ccjmne@gmail.com">ccjmne@gmail.com</a>
        <a rel="external" href="https://creativecommons.org/licenses/by-sa/4.0/">CC-BY-SA</a>
      </footer>
    </div>
  </body>
</html>
