{%- import "macros/hlpr.html" as hlpr -%}
{%- import "macros/tmpl.html" as tmpl -%}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>~ccjmne</title>
    {%- include "partials/fonts.html" -%}
    {%- block links -%}
    <link rel="stylesheet" href="{{- get_url(path="/shared.css") -}}">
    {%- endblock links -%}
    <link rel="expect" blocking="render" href="#footer">
    <link rel="alternate" type="application/atom+xml" title="rss" href="{{ get_url(path="/atom.xml", trailing_slash=false) }}">
    <script type="speculationrules">{ "prerender": [{ "where": { "href_matches": "/*" }, "eagerness": "eager" }] }</script>
  </head>
  <body>
    <header {{ hlpr::vtn(name="header", static=true) -}}>
      <a href="{{ get_url(path="/") }}">            {%- if current_path == "/" -%}                            <strong>Home</strong>         {%- else -%} Home         {%- endif -%} </a>
      <a href="{{ get_url(path="/flight-rules") }}">{%- if current_path is starting_with("/flight-rules") -%} <strong>Flight rules</strong> {%- else -%} Flight rules {%- endif -%} </a>
      <a href="{{ get_url(path="/ramblings") }}">   {%- if current_path is starting_with("/ramblings") -%}    <strong>Ramblings</strong>    {%- else -%} Ramblings    {%- endif -%} </a>
      <a href="{{ get_url(path="/tags") }}">        {%- if current_path is starting_with("/tags") -%}         <strong>Tags</strong>         {%- else -%} Tags         {%- endif -%} </a>
      <a href="{{ get_url(path="/about") }}">       {%- if current_path is starting_with("/about") -%}        <strong>Meta</strong>         {%- else -%} Meta         {%- endif -%} </a>
      <span style="flex-grow: 1"></span>
      <a href="{{ get_url(path="/atom.xml", trailing_slash=false) }}">RSS</a>
    </header>
    <div class="accent-bar" {{ hlpr::vtn(name="accent-bar", static=true) -}}></div>
    <main>
      {%- block content -%}
      {%- endblock content -%}
    </main>
    <div class="hi" {{ hlpr::vtn(name="footer", static=true) -}}>
      <footer id="footer">
        &copy; 2025
        <a href="https://github.com/ccjmne">Éric NICOLAS (ccjmne)</a>
        <span>&lt;<a href="mailto:ccjmne@gmail.com">ccjmne@gmail.com</a>&gt;</span>
        <a href="https://creativecommons.org/licenses/by-sa/4.0/">CC-BY-SA</a>
      </footer>
    </div>
  </body>
</html>
