{% extends "base.html" %}

{% block content %}
{%- set parent = get_section(path=page.ancestors | last) -%}
<h1><span class="link-title" {{ hlpr::vtn(name=page.slug) -}}>{{- page.title | markdown(inline=true) | safe -}}</span></h1>
{%- include "partials/infobar.html" -%}
{%- if parent.extra.series -%}
<details class="lo summary">
  <summary>Series introduction</summary>
  <h2>{{ parent.title | markdown(inline=true) | safe }}</h2>
  {{ hlpr::extract(content=parent.content, which="main") }}
</details>
{%- endif -%}
{%- if page.toc | default(value=false) -%}
{%- include "partials/toc.html" -%}
{%- endif -%}
<article>
  {%- if parent.extra.series -%}
  {%- set footnotes =        hlpr::extract(content=page.content,   which="footnotes") -%}
  {%- set parent_footnotes = hlpr::extract(content=parent.content, which="footnotes") -%}
  {%- set offset = parent_footnotes | regex_replace(pattern='(?s)<li[^>]*>.*?</li>', rep='§') | split(pat='§') | length - 1 -%}
  {{ hlpr::extract(content=page.content, which="main", footnotes_start=offset) }}
  {{ hlpr::footnotes(items=parent_footnotes ~ footnotes) }}

  {%- else -%}
  {{ page.content | safe }}
  {%- endif -%}

  {% if page.extra.cited_tools is defined %}
  <h2 id="cited-tools">{%- set id="cited-tools" -%}{%- include "anchor-link.html" -%}Referenced tools</h2>
  <div class="cited-tools">
    {% for work in page.extra.cited_tools %} {{- tmpl::cmd(tool=work) -}} {% endfor %}
  </div>
  {% endif %}
</article>
{% endblock content %}
