{% extends "base.html" %}

{# TODO: Should be some markdown content? #}
{% block content %}
<h1>~ccjmne</h1>
<article>
  {# <p>"One meticulous fellow"</p> #}
  <p>I publish some technical <a href="{{ get_url(path="/flight-manual") }}">flight manual</a> that curates practical guides towards mastering your software development craft.</p>
  <p>I also share some <a href="{{ get_url(path="/ramblings") }}">ramblings</a> that are more conceptual or less grounded in relevance and practicality, but may be consumed more recreationally—or precautionarily.</p>
  <p>
  I am fairly slow and deliberate.<br>
  I intend to keep producing approximately one article per week, but my propensity for ranting tangents significantly hinders the production of articles going straight to the point.<br>
  If you stick around a short while, I'm sure you'll come to find the irony in that.
  </p>
  <h2>User guide</h2>
  <p>This Website's colour scheme automatically adjusts to your preference as <a href="{{ get_url(path="/flight-manual/web-media-user-preferences/") }}">indicated by your Web browser</a>, which should forward that of your desktop environment; though it currently looks better in <strong>light</strong> mode.</p>
  <p>Web browsers supporting <a href="https://developer.mozilla.org/en-US/docs/Web/API/View_Transition_API">View Transitions</a> will animate, in a non-nauseating manner, various anchor points as you peruse the site.  This functionality may be disabled by indicating, through your browser again, your preference for reduced motion.</p>
  <p>Links like <a href="{{ get_url(path="/") }}">this one</a> point to other places on this very blog; external references such as <a href="https://developer.mozilla.org/en-US/docs/Web/HTML/Reference/Attributes/rel#external">that one</a> are annotated with an arrow pointing to the up and right.</p>
  <!-- TODO: Document flight manual vs ramblings distinction w.r.t. their icons -->
  <!-- TODO: Document RSS feeds and their auto-discovery -->
  <!-- TODO: Document footnotes and their back-reference mechanisms -->
  <!-- TODO: Document colophon -->
</article>
{% endblock content %}
