{%- extends "base.html" -%}

{%- block cssvars -%}
--column-width: min(90vw, 480px);
{%- endblock cssvars -%}

{%- block content -%}
<h1 id={{section.extra.listing}}>{{- section.title -}}</h1>
<div class="subtitle">{{- section.description -}}</div>
{%- set txnm = get_taxonomy_term(kind="section", term=section.extra.listing) -%}
{%- set most_recent = txnm.pages | first -%}
<div class="hi">
  {%- set page = most_recent -%}
  {%- set oneline=true -%}
  {%- include "partials/article-hero.html" -%}
</div>
{%- include "partials/ls.html" -%}
{%- endblock content -%}
