{%- extends "base.html" -%}
{%- import "macros/pads.html" as pads -%}
{%- block links -%}
<link rel="stylesheet" href="/ls.css">
{%- endblock links -%}

{%- block content -%}
<h1 class="title">{{- section.title | markdown(inline=true) | safe -}}</h1>
{{- section.content | safe -}}

<!-- If you are using pagination, section.pages will be empty.
     You need to use the paginator object -->
{%- for page in section.pages -%}
<a class="ls-i" href="{{ page.permalink | safe }}">
  {%- if section.extra.series -%}
  <span class="i">{{- pads::zpad(s=loop.index, w=2) -}}.</span>
  {%- endif -%}
  <article>
    <h2>{{ page.title | markdown(inline=true) | safe }}</h2>
    {%- if page.date -%}
    <time>{{- page.date | date(format="%B %d, %Y") -}}</time>
    {%- endif -%}

    {# Display the description if it exists #}
    {%- if page.description -%}
    {{- page.description | markdown | safe -}}
    {%- endif -%}
  </article>
</a>
{%- endfor -%}

{%- endblock content -%}
