{% extends "base.html" %}

{% block links %}
<link rel="stylesheet" href="/light.css">
<link rel="stylesheet" href="/dark.css" media="(prefers-color-scheme: dark)">
{% endblock links %}

{% block content %}
<h1 class="title">{{- page.title | markdown(inline=true) | safe -}}</h1>
<ul class="infobar">
  {%- if page.date -%}
  <li><time>{{- page.date | date(format="%B %d, %Y") -}}</time></li>
  {%- endif -%}
  <li>{{- page.reading_time -}}-minute read</li>
  {% set parent = get_section(path=page.ancestors | last) %}
  {%- if not section.extra.series and parent.extra.series -%}
    Part&nbsp;{{ page.extra.idx }}&nbsp;of&nbsp;<a href="{{ parent.permalink }}">{{ parent.title | markdown(inline=true) | safe }}</a>
  {%- endif -%}
</ul>
<article>
  {{ page.content | safe }}
</article>
{% endblock content %}
