{% extends "base.html" %}

{% block links %}
<link rel="stylesheet" href="{{ get_url(path="/light.css") }}">
<link rel="stylesheet" href="{{ get_url(path="/dark.css") }}" media="(prefers-color-scheme: dark)">
{% endblock links %}

{% block content %}
<h1><span class="link-title" {{ hlpr::vtn(name=page.slug) -}}>{{- page.title | markdown(inline=true) | safe -}}</span></h1>
{%- include "partials/infobar.html" -%}
{%- if page.extra.toc | default(value=true) -%}
<br>
{%- include "partials/toc.html" -%}
{%- endif -%}
<article>
  {{ page.content | safe }}
</article>
{% endblock content %}
