{%- extends "base.html" -%}

{%- block links -%}
<link rel="stylesheet" href="{{ get_url(path="/ramblings/list.css") }}">
{%- endblock links -%}

{%- block content -%}
<h1 class="title ramblings">Dubito, ergo cogito, ergo scribo</h1>
{%- set year = 0 -%}
{%- set month = 0 -%}
{# TODO: consider using group_by filter to group by year, month #}
{%- set txnm = get_taxonomy_term(kind="tags", term="all") -%}
{%- for page in txnm.pages -%}
{%- if page.year != year -%}
{%- set_global year = page.year -%}
{%- set_global month = page.month -%}
<time class="month-switch"><h3>{{ year }}</h3><h3>{{ page.date | date(format="%B") }}</h3></time>
{%- elif page.month != month -%}
{%- set_global month = page.month -%}
<time class="month-switch"><span></span><h3>{{ page.date | date(format="%B") }}</h3></time>
{%- endif -%}
<a class="entry {{ page.taxonomies.section | default(value=["flight-rules"]) | first }}" href="{{- page.permalink | safe -}}">
  <span class="link-title" {{- hlpr::vtn(name=page.slug) -}}>{{- page.title | markdown(inline=true) | safe -}}</span>
  <span class="dots"></span>
  <time>{%- set d = page.day -%}{{- d -}}{% if d == 1 or d == 21 or d == 31 %}st{% elif d == 2 or d == 22 %}nd{% elif d == 3 or d == 23 %}rd{% else %}th{% endif %}</time>
</a>
{%- endfor -%}

{%- endblock content -%}
