{% extends "base.html" %}

{# TODO: preload ruby icon #}

{% block content %}
<h1 class="title">Flight manuals</h1>
<ul class="tags-list">
  {# filter out the "all" tag #}
  {%- set tags = [] -%}
  {%- set pages = [] -%}
  {%- set alltags = get_taxonomy(kind="tags") -%}
  {%- for tag in alltags.items -%}
  {%- if tag.name == "all" -%} {% continue %} {%- endif -%}
  {%- set_global pages = pages | concat(with=tag.pages | length) -%}
  {%- set_global tags = tags | concat(with=tag) -%}
  {%- endfor -%}

  {%- set median_33 = pages | length -%}
  {%- set median_33 = median_33 * 0.33 | round(method="floor") | int -%}
  {%- set median_33 = pages[median_33] -%}
  {%- set median_66 = pages | length -%}
  {%- set median_66 = median_66 * 0.66 | round(method="floor") | int -%}
  {%- set median_66 = pages[median_66] -%}

  {%- for tag in tags -%}
  <li>
    <a
      {# TODO: consider >= rather than >, once we have more articles. #}
      class="tag tag-{%- if tag.pages | length > median_66 -%} high {%- elif tag.pages | length > median_33 -%} medium {%- else -%} low {%- endif -%}"
      href="{{ tag.permalink }}">
      <h2 class="link-title tag-name" {{ hlpr::vtn(name=tag.slug) -}}>{{ tag.name }}</h2>
      {{ tag.pages | length }}
    </a>
  </li>
  {%- endfor -%}
</ul>
{% endblock content %}
