{%- extends "base.html" -%}

{%- block links -%}
<link rel="stylesheet" href="{{ get_url(path="/thoughts.css") }}">
{%- endblock links -%}

{% block breadcrumb %}
{% endblock breadcrumb %}

{%- block content -%}
<h1 class="title">Dubito, ergo cogito, ergo scribo</h1>
{%- set year = 0 -%}
{%- set month = 0 -%}
{%- for page in section.pages -%}
{%- if page.year != year -%}
{%- set_global year = page.year -%}
{%- set_global month = page.month -%}
<time class="month-switch"><h2>{{ year }}</h2><h2>{{ page.date | date(format="%B") }}</h2></time>
{%- elif page.month != month -%}
{%- set_global month = page.month -%}
<time class="month-switch"><span></span><h2>{{ page.date | date(format="%B") }}</h2></time>
{%- endif -%}
<a class="entry" href="{{- page.permalink | safe -}}">
  <h3 class="link-title" {{- hlpr::vtn(name=page.slug) -}}>{{- page.title | markdown(inline=true) | safe -}}</h3>
  <span class="dots"></span>
  <time>{%- set d = page.day -%}{{- d -}}{% if d == 1 or d == 21 or d == 31 %}st{% elif d == 2 or d == 22 %}nd{% elif d == 3 or d == 23 %}rd{% else %}th{% endif %}</time>
</a>
{%- endfor -%}

{%- endblock content -%}
